<div class="customers-page">
    <app-search-filter (search)="onSearch($event)" (filter)="onFilter($event)" (addNew)="onAddNew()">
    </app-search-filter>

    <div class="card">
        <div class="card-body p-0">
            <app-data-table [columns]="columns" [data]="filteredCustomers" (rowClick)="onRowClick($event)">
            </app-data-table>
        </div>
    </div>

    <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalItems]="totalItems"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>