<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <span class="copyright">
                © {{ currentYear }} {{ 'ERP System' | translate }}. {{ 'All rights reserved' | translate }}.
            </span>
        </div>
        <div class="footer-right">
            <a href="#" class="footer-link">{{ 'Privacy Policy' | translate }}</a>
            <a href="#" class="footer-link">{{ 'Terms of Service' | translate }}</a>
            <a href="#" class="footer-link">{{ 'Support' | translate }}</a>
        </div>
    </div>
</footer>